<div id="train-container">
  <div id="train-deck">
    <%= form_for(@game, url: next_card_path, method: :post, remote: true, authenticity_token: true) do |f| %>
      <%= image_tag "deck/back.png", id: "next-card-trigger" %>
      <%= f.submit "", id: "next-card-button" %>
    <% end %>
  </div>

  <%= div_for @game.cards_train, class: "train" do %>
    <% cards = @game.cards_train.used_cards %>
    <% if cards.present? %>
      <% cards.each do |card| %>
        <%= render partial: 'card', locals: { card: card } %>
      <% end %>
    <% end %>
  <% end %>

  <div id = "rewarded_chips">
    <div id="movement">
      <table id = "chips_awarded">
        <tbody>
          <tr>
            <td class= "title_table_score">Bet</td>
            <td>-52 chips</td>
          </tr>
          <tr>
            <td class= "title_table_score">Chips</td>
            <td><span id="score"></span> chips</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
