<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>

<div id="header">
  <%= render partial: 'train' %>
  <%= render partial: 'product_line', locals: { product_line: @game.product_line } %>
</div>

<%= form_for @game, url: move_card_path, method: :post, remote: true, :html => {:class => 'move-card-form'} do |f| %>
  <%= hidden_field_tag "origin[card_id]" %>
  <%= hidden_field_tag "origin[column_id]" %>
  <%= hidden_field_tag "destiny[card_id]" %>
  <%= hidden_field_tag "destiny[column_id]" %>
  <%= f.submit "Move Card(s)", id: "move-card-button" %>
<% end %>

<%= render partial: 'feeder_line', locals: { feeder_line: @game.feeder_line } %>

<div id="movement">
  <span id="origin"></span> <span id="destiny"></span>
</div>

<%= javascript_include_tag "//code.jquery.com/jquery-1.9.1.js", "//code.jquery.com/ui/1.10.4/jquery-ui.js" %>
<%= javascript_include_tag 'game' %>
<%= javascript_include_tag "jquery.ui.touch-punch.min.js" %>
